
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body {
	height: 100%;
}

body {
	font-family: 'Monoton', cursive;
	color: black;
	background: radial-gradient(ellipse at center, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 )
}

header {
	text-align: center;
	padding: 2em;	
}

button {
	background-color:rgba(0,0,0,0.65);
	margin: 0 auto;
	margin-top: 2.5em;
	color: #B83640;
	padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-weight: bold;
    border: .25em solid black;
    border-radius: .25em;
    cursor: pointer;
}
/* Clearfix */

/*header::before,
header::after {
    display: table;
    content: '';
}
header::after {
    clear: both;
}

footer {
	position: fixed;
    left: 0;
    bottom: 5em;
    width: 100%;

 }*/

.col-4 img {
 box-sizing: border-box;
 display: block;
 margin: 0 auto;
 width: 33.3%;
 border: .5em #B83640 solid;
 /*padding: 1em;*/
 border-radius: .5em;
}

#quizNumber, 
#quizCounter {
	width: 50%;
	float: left;
	text-align: center;
	padding: .25em;
}


#js-question {
 	width: 66.6%;
	margin: 0 auto;
	display: none;
}



.red {
	color: #B83640;
}


#js-answer {
	display: none;
}

#dialog, 
#final-screen, 
#js-answer {
	text-align: center;
	margin-top: 2em;
}








